.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.char {
  font-family: serif;
  font-size:100px;
  color: white;
  margin: auto;
  display: block;
  height: 115px;
  width: 115px;
  border-radius: 10px;
  background-color: inherit;
}

.square{
  width: 150px;
  height: 150px;
  background-color: inherit;
  display: inline-grid;
  grid-auto-rows: 115px 35px;
  margin: 10px;
  vertical-align: bottom;
}

.line{
  /* border-width: 1px; */
width: 120px;
height: 9px;
/* border-style: solid; */
/* border-color: black; */
background-color: #61dafb;
margin: auto;
}

.Word{
  background-color: inherit;
}

.textbox{
  border-style: none;
  text-align: center;
  background-color: black;
}

.textbox:focus{
  /*outline-color: #61dafb;
  outline-style: solid;*/
  outline: none;
  box-shadow: 0 0 0 2pt #61dafb;
}
